/// Helper class berfungsi untuk mengubah style berupa modifier pada web, 

@import '_mixins.scss';

@import 'helpers/_align.scss';
@import 'helpers/_background.scss';
@import 'helpers/_border.scss';
@import 'helpers/_color.scss';
@import 'helpers/_display.scss';
@import 'helpers/_float.scss';
@import 'helpers/_positions.scss';
@import 'helpers/_size.scss';
@import 'helpers/_typography.scss';
@import 'helpers/_visibility.scss';
@import 'helpers/_z_index.scss';

@include generate-class();