.inline {
    display: inline;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
}

.hidden {
    display: none;
    visibility: hidden;
}

