@import '../_mixins.scss';
@import './_positions.scss';

.visuallyhidden {
    @include no-border();
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    @include margin(all, -1px);
    overflow: hidden;
    @include padding(all, 0);
    @extend .absolute;
}

.invisible {
    visibility: hidden;
}